@model IEnumerable<PSNWebMVCApp.Models.Game>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>
<script src="~/Scripts/jtable/jquery.jtable.js"></script>
<link href="~/Scripts/jtable/themes/metro/blue/jtable.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Login", "Index", "Login")
</p>

@using (Html.BeginForm("UpdateMyGames", "Login", FormMethod.Post))
{
    <input type="submit" value="Update My Games" />
}


@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RarityPoints)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DifficultyPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RarityPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

<div id="GamesTableContainer"></div>

<script type="text/javascript">
 
    $(document).ready(function () {
 
        $('#GamesTableContainer').jtable({
            title: 'The Games List',
            paging: true, //Enable paging
            pageSize: 20, //Set page size (default: 10)
            sorting: true, //Enable sorting
            defaultSorting: 'Title ASC', //Set default sorting
            actions: {
                listAction: '/Game/IndexGamesSorting'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Title: {
                    title: 'Title',
                    width: '23%'
                },
                Platform: {
                    title: 'Platform'
                },
                ImageString: {
                    title: 'Image',
                    display: function (data) {
                        return "<img src='" + data.record.ImageString + "' alt='Image' />";
                    }
                },
                Difficulty: {
                    title: 'Difficulty'
                },
                DifficultyPoints: {
                    title: 'Difficulty Points'
                },
                Completed: {
                    title: 'Completed'
                },
                Owned: {
                    title: 'Owned'
                },
                RarityPoints: {
                    title: 'Rarity Points'
                },
                Link: {
                    title: 'Link',
                    list: false
                }
            }
        });
 
        //Load student list from server
        $('#GamesTableContainer').jtable('load');
    });
 
</script>

@Html.ActionLink("Update Games", "UpdateGames")